.container {
    border: 1px solid transparent;
    padding: 4px;
    display: flex;
    flex-direction: row;
    margin: 16px;
    border-radius: 4px;
    background: #00798C;
    min-height: 124px;
    color: whitesmoke;
}

.container:nth-child(even) {
    background: #30638E;
}

.aside {
    padding: 4px;
}

.authorContainer {

}

.authorAvatar {
    width: 96px;
    height: 96px;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.authorName {
    display: block;
    text-align: center;
}

.header {

}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 4px;
}

.mainContent {
    flex-grow: 1;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.footer {
    align-self: flex-end;
    padding: 8px 4px 4px 4px;
    font-size: 10px;
}