.form {
    padding: 4px;
    margin: 12px;
    display: flex;
    flex-direction: column;
}

.label {
    margin: 8px 0;
    color: whitesmoke;
}

.textInput, .textarea {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #edae49;
    color: #edae49;
    padding: 10px;
}

.textarea {
    height: 125px;
}

.button {
    background-color: #edae49;
    color: #003D5B;
    padding: 4px 8px;
    font-size: 16px;
    text-transform: uppercase;
    align-self: center;
    margin: 12px;
}